#
# NOTA! Não adicione arquivos que são gerados em
# subdiretórios aqui. Adicione-os no arquivo ".gitignore"
# nesse subdiretório.
#
# NOTA! Use 'git ls-files -i --exclude-standard'
# comando depois de alterar este arquivo, para ver se há
# quaisquer arquivos rastreados que sejam ignorados após a alteração.
#
# Regras normais
#
. *
* .o
* .o. *
*.uma
* .s
* .ko
*.tão
* .so.dbg
* .mod.c
*.eu
* .lst
* .symtypes
*.pedido
modules.builtin
*.duende
* .bin
* .gz
* .bz2
* .lzma
*.correção
* .gcno

#
# Arquivos genéricos de nível superior
#
/Tag
/TAG
/ linux
/ vmlinux
/ vmlinuz
/System.map
/Module.markers
/Module.symvers

#
# arquivos git que não queremos ignorar, mesmo que sejam arquivos ponto
#
! .gitignore
! .mailmap

#
# Arquivos de inclusão gerados
#
incluir / config
include / linux / version.h
incluir / gerado

# dirs gerados por stgit
patches- *

# arquivos de colcha
remendos
Series

# arquivos cscope
cscope. *
ncscope. *

# gnu arquivos globais
GPATH
GRTAGS
GSYMS
GTAGS

# Arquivos QT-Creator
Makefile.am.user
* .config
*.O Criador
* .creator.user
*.arquivos
* .inclui

* .orig
* ~
\ # * #
* .lo
* .la
Makefile
Makefile.in
aclocal.m4
autoconfig.h
autoconfig.h.in
autom4te.cache /
build-aux /
config.log
config.status
configurar
libtool
libupnp.pc
m4 / libtool.m4
m4 / ltoptions.m4
m4 / ltsugar.m4
m4 / ltversion.m4
m4 / lt ~ obsolete.m4
stamp-h1
docs / doxygen
